#files:
# /var/app/ondeck:
#    source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-742029662123/geoblacklight/dev/env.production

packages:
 yum:
  postgresql96-devel: []

commands:
  command1:
    command: "aws s3 cp 's3://elasticbeanstalk-us-east-1-742029662123/geoblacklight/dev/env.production' /tmp/.env.production"
  command2:
    command: "source /tmp/.env.production"

container_commands:
  command-01:
    command: "aws s3 cp 's3://elasticbeanstalk-us-east-1-742029662123/geoblacklight/dev/env.production' /var/app/ondeck/.env.production2"
