#files:
# /var/app/ondeck:
#    source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-742029662123/geoblacklight/dev/env.production

packages:
 yum:
  postgresql96-devel: []

commands:
  01_copy_from_s3:
    command: "aws s3 cp 's3://elasticbeanstalk-us-east-1-742029662123/geoblacklight/dev/env.production' /tmp/.env.production"
  02_source_file:
    command: "source /tmp/.env.production"
  03_cat_to_etc_env:
    command: "cat /tmp/.env.production >> /etc/environment"

container_commands:
  command-01:
    command: "aws s3 cp 's3://elasticbeanstalk-us-east-1-742029662123/geoblacklight/dev/env.production' /var/app/ondeck/.env.production2"
