packages:
 yum:
  postgresql96-devel: []

commands:
  command1:
    command: "aws s3 cp 's3://elasticbeanstalk-us-east-1-742029662123/geoblacklight/dev/env.production' /var/app/ondeck/.env.production"

#container_commands:
#  command-01:
#    command: "aws s3 cp 's3://elasticbeanstalk-us-east-1-742029662123/geoblacklight/dev/env.production' /var/app/ondeck/.env.production"
